<div class="ufms-logo"><img src="./layouts/lm-layout_01/images/lm-ufms-pp.png"/></div>

<div class="body-border"><img src="./layouts/lm-layout_01/images/lm-body-border.png"/></div>
<div class="body-border-bottom"><img src="./layouts/lm-layout_01/images/lm-body-border.png" rotate="180" /></div>

<div class="certificate-title"><img src="./layouts/lm-layout_01/images/lm-certificate-title.png" /></div>

<div class="boss-sign">
<p class="text">Leonardo Mauro P. Moraes - Author</p>
<img src="./layouts/lm-layout_01/images/lm-sign.png" />
</div>

<div class="body-content">
<p>O @owner-certificate confere o(a) <span class="certificate-data-name">@student</span> o presente certificado do <span class="certificate-data">@event-certificate</span> na qualidade de <span class="certificate-data">@participation</span>. @extra
Realizado no(a) <span class="certificate-data">@place, @date</span>@workload.</p>
</div>

<div class="certificate-validate" style="font-size:11pt;">
<p>Autenticidade deste Certificado: <u>http://leonardomauro.com/scg/</u></p>
<p>Número de Controle: @code</p>
<p>Autenticação: <span class="certificate-code">@verify</span></p>
</div>